test-connection.yaml
src/**/chart/**/*.yaml
src/**/chart/**/*.yml
dist
ATTRIBUTION.md
terraform/eks/**/*.yaml
src/**/target
go.mod
go.sum
/.nx/cache
/.nx/workspace-data
.devcontainer.json
.release-please-manifest.json
src/ui/src/main/java/com/amazon/sample/ui/client/**/*.java
*.drawio.xml
CHANGELOG.md
