{{if env "TILT_MODE" }}
image:
  repository: retail-store-sample-orders
  tag: dev
{{else if env "ORDERS_IMAGE_TAG" }}
image:
  tag: {{ env "ORDERS_IMAGE_TAG" }}
{{end}}

{{if env "RANDOM_PASSWORD" }}
postgresql:
  secret:
    password: {{ env "RANDOM_PASSWORD" | default "" }}
{{end}}