management:
  endpoints:
    web:
      exposure:
        include: info,health,metrics,prometheus

spring.autoconfigure.exclude:
  - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  - io.awspring.cloud.autoconfigure.sqs.SqsAutoConfiguration

server:
  port: ${port:8080}

spring.flyway.baseline-on-migrate: true

retail:
  orders:
    persistence:
      provider: "in-memory"
      postgres:
        endpoint:
        dbname:
        username:
        password:
    messaging:
      provider: "in-memory"
      rabbitmq:
        addresses: ""
        username: ""
        password: ""
      sqs:
        topic: ""

springdoc:
  api-docs:
    version: OPENAPI_3_0

otel.sdk.disabled: true
