<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'cart')}"
>
  <body>
    <section class="max-w-3xl mx-auto py-8">
      <div class="container mx-auto px-4 py-8">
        <!-- Cart Header -->
        <h1 class="text-2xl font-semibold mb-6" th:text="#{shoppingcart.title}">
          Shopping Cart
        </h1>

        <!-- Cart Items -->
        <div class="w-full" id="basket">
          <!-- Cart Item -->
          <div th:if="${fullCart.items.size() == 0}">
            You don't have any items!
          </div>
          <div th:if="${fullCart.items.size() > 0}">
            <div
              class="flex border-b py-4 space-x-4 cart-item"
              th:each="item : ${fullCart.items}"
            >
              <img
                src="https://via.placeholder.com/100"
                alt="Product"
                class="w-[100px] h-[100px] rounded"
                th:src="@{/assets/img/products/{itemId}.jpg(itemId=${item.id})}"
              />
              <div class="flex-1">
                <h2 th:text="${item.name}" class="item-name">Product Name</h2>
                <p class="text-sm text-gray-600">
                  <th:block th:text="#{field.quantity}"></th:block>:
                  <th:block th:text="${item.quantity}" class="item-quantity"
                    >1</th:block
                  >
                </p>
              </div>
              <div class="text-right">
                <p>$<th:block th:text="${item.totalPrice}">299</th:block></p>
                <p class="text-sm text-gray-600">
                  $<th:block class="item-price" th:text="${item.price}"
                    >299</th:block
                  >
                  each
                </p>
                <form th:action="@{/cart/remove}" method="POST">
                  <input type="hidden" name="productId" th:value="${item.id}" />
                  <button
                    type="submit"
                    class="text-red-500 hover:text-red-700 mt-2 remove-item"
                    aria-label="Remove item"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            </div>

            <!-- Cart Total and Checkout -->
            <div class="mt-8">
              <div class="flex justify-between items-center pt-2">
                <div>
                  <p class="text-lg">Subtotal</p>
                  <p class="text-sm text-gray-500 mt-1">
                    Shipping and taxes calculated at checkout
                  </p>
                </div>
                <p class="text-xl cart-subtotal">
                  $<th:block th:text="${fullCart.subtotal}">446</th:block>
                </p>
              </div>

              <a th:href="@{/checkout}">
                <button
                  id="checkout"
                  class="w-full bg-primary-500 text-white rounded-lg py-3 mt-6 hover:bg-primary-700"
                >
                  <i class="fa fa-credit-card"></i>

                  <span th:text="#{shoppingcart.checkout}">
                    Proceed to Checkout
                  </span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
