<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'catalog')}"
>
  <body>
    <section class="max-w-4xl mx-auto px-4 py-8">
      <div class="flex flex-col md:flex-row gap-8">
        <!-- Sidebar Filter -->
        <div class="w-full md:w-36 h-fit">
          <h3 class="font-semibold text-gray-800 mb-4 uppercase text-xs">
            Categories
          </h3>
          <ul class="space-y-2 text-sm category-menu">
            <li>
              <a
                href="#"
                class="text-gray-600 hover:text-primary-500 block py-1"
                th:href="@{/catalog(page=1)}"
                >All Products</a
              >
            </li>
            <li th:each="tag : ${tags}">
              <a
                href="#"
                class="text-gray-600 hover:text-primary-500 block py-1"
                th:text="${tag.displayName}"
                th:href="@{/catalog(page=1,tag=${tag.name})}"
                >Smart</a
              >
            </li>
          </ul>
        </div>

        <!-- Product Grid -->
        <div class="flex-1">
          <div>
            <div
              class="text-center mb-4 text-sm text-gray-400"
              th:if="${!disableDemoWarnings}"
            >
              These products are for demonstration purposes only
            </div>
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
              <!-- Product Card 1 -->
              <div th:each="item : ${catalog.products}">
                <div
                  th:replace="~{fragments/product_card :: card(${item}) }"
                ></div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <div class="flex justify-center mt-8">
            <nav
              class="inline-flex items-center rounded-lg bg-white border border-gray-200 pagination"
              aria-label="Pagination"
              th:with="prevIndex=${{catalog.page == 1} ? 1: catalog.page-1}, nextIndex=${{catalog.page == catalog.totalPages} ? catalog.totalPages: catalog.page+1}"
            >
              <a
                href="#"
                th:href="@{/catalog(page=${prevIndex},tag=${selectedTag})}"
              >
                <button
                  class="inline-flex items-center justify-center w-10 h-10 border-r border-gray-200 text-gray-500 hover:bg-gray-50"
                >
                  <span class="sr-only">Previous</span>
                  <i class="fas fa-minus text-xs"></i></button
              ></a>

              <a
                href="#"
                th:each="i : ${#numbers.sequence(1, catalog.totalPages)}"
                th:href="@{/catalog(page=${i},tag=${selectedTag})}"
              >
                <button
                  class="inline-flex items-center justify-center w-10 h-10 border-r border-gray-200"
                  th:classappend="${i == catalog.page} ? 'bg-primary-50 text-primary-500' : 'text-gray-700 hover:bg-gray-50'"
                  th:text="${i}"
                >
                  1
                </button></a
              >

              <a
                href="#"
                th:href="@{/catalog(page=${nextIndex},tag=${selectedTag})}"
              >
                <button
                  class="inline-flex items-center justify-center w-10 h-10 text-gray-500 hover:bg-gray-50"
                >
                  <span class="sr-only">Next</span>
                  <i class="fas fa-plus text-xs"></i>
                </button>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
