<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/checkout :: checkout (~{::body}, 1)}">
<body>
<form th:object="${shippingAddressRequest}" method="POST" id="checkoutForm" action="/checkout" novalidate>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" th:value="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? is-invalid : ''" placeholder="" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" th:value="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? is-invalid : ''" placeholder="" required>
            <div class="invalid-feedback">
                Valid last name is required.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" th:value="*{email}" th:classappend="${#fields.hasErrors('email')} ? is-invalid : ''" placeholder="you@example.com">
        <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
        </div>
    </div>

    <div class="mb-3">
        <label for="address1">Address</label>
        <input type="text" class="form-control" id="address1" name="address1" th:value="*{address1}" placeholder="1234 Main St" th:classappend="${#fields.hasErrors('address1')} ? is-invalid : ''" required>
        <div class="invalid-feedback">
            Please enter your shipping address.
        </div>
    </div>

    <div class="mb-3">
        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" id="address2" name="address2" th:value="*{address2}" placeholder="Apartment or suite" th:classappend="${#fields.hasErrors('address2')} ? is-invalid : ''">
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="" th:value="*{city}" th:classappend="${#fields.hasErrors('city')} ? is-invalid : ''" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="form-select d-block w-100" id="state" name="state" th:value="*{state}" th:classappend="${#fields.hasErrors('state')} ? is-invalid : ''" required>
                <option value="">Choose...</option>
                <option value="AK">Alaska</option>
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="AZ">Arizona</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DC">District of Columbia</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="IA">Iowa</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="MA">Massachusetts</option>
                <option value="MD">Maryland</option>
                <option value="ME">Maine</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MO">Missouri</option>
                <option value="MS">Mississippi</option>
                <option value="MT">Montana</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="NE">Nebraska</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NV">Nevada</option>
                <option value="NY">New York</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="PR">Puerto Rico</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VA">Virginia</option>
                <option value="VT">Vermont</option>
                <option value="WA">Washington</option>
                <option value="WI">Wisconsin</option>
                <option value="WV">West Virginia</option>
                <option value="WY">Wyoming</option>
            </select>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="" th:value="*{zip}" th:classappend="${#fields.hasErrors('zip')} ? is-invalid : ''" required>
            <div class="invalid-feedback">
                Invalid zip code.
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="box-footer d-flex justify-content-between"><a href="/cart" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Basket</a>
        <button type="submit" class="btn btn-primary">Next<i class="fa fa-chevron-right"></i></button>
    </div>
</form>
</body></html>