<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'checkout')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout</li>
                </ol>
            </nav>
        </div>
        <div id="checkout" class="col-md-12 col-lg-8">
            <div class="box">
                <h1>Checkout</h1>
                <div class="nav flex-column flex-sm-row nav-pills">
                    <a href="#" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-map-marker"></i>Address</a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-truck"></i>Delivery Method</a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-money"></i>Payment Method</a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye"></i>Order Review</a>
                </div>
                <form th:object="${checkoutDeliveryMethodRequest}" method="POST" id="checkoutForm" action="/checkout/delivery">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('token')}">
                        Please select a delivery method.
                    </div>
                    <div class="content py-3">
                        <div class="row">
                            <div class="col-md-6" th:each="option : ${checkout.shippingOptions}">
                                <div class="box shipping-method">
                                    <h4 th:text="${option.name}">USPS Next Day</h4>
                                    <p>Estimated <th:block th:text="${option.estimatedDays}">7</th:block> days</p>
                                    <p>$<th:block th:text="${option.amount}">12</th:block></p>
                                    <div class="box-footer text-center">
                                        <input type="radio" th:field="*{token}" name="delivery" th:name="'delivery-'+${option.token}" th:value="${option.token}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer d-flex justify-content-between"><a href="/cart" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Basket</a>
                        <button type="submit" class="btn btn-primary">Next<i class="fa fa-chevron-right"></i></button>
                    </div>
                </form>
            </div>
            <!-- /.box-->
        </div>
        <!-- /.col-lg-9-->
        <div th:replace="fragments/order.html
          :: orderSummary">
        </div>
        <!-- /.col-lg-3-->
    </div>
</div>
</body></html>