<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="main-slider" class="owl-carousel owl-theme">
                <div class="item"><img th:src="@{/assets/img/hero1.jpg}" alt="" class="img-fluid"></div>
                <div class="item"><img th:src="@{/assets/img/hero2.jpg}" alt="" class="img-fluid"></div>
                <div class="item"><img th:src="@{/assets/img/hero3.jpg}" alt="" class="img-fluid"></div>
            </div>
            <!-- /#main-slider-->
        </div>
    </div>
</div>
<!--
*** ADVANTAGES HOMEPAGE ***
_________________________________________________________
-->
<div id="advantages">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <h3><a href="#">We love our customers</a></h3>
                    <p class="mb-0">We are known to provide best possible service ever</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <h3><a href="#">Best prices</a></h3>
                    <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h3><a href="#">100% satisfaction guaranteed</a></h3>
                    <p class="mb-0">Free returns on everything for 3 months.</p>
                </div>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>
<!-- /#advantages-->
<!-- *** ADVANTAGES END ***-->
<!--
*** HOT PRODUCT SLIDESHOW ***
_________________________________________________________
-->
<div id="hot">
    <div class="box py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0">Hot this week</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="product-slider owl-carousel owl-theme">
            <div class="item" th:each="item : ${catalog.products}">
                <div class="product">
                    <a th:href="@{/catalog/{itemId}(itemId=${item.id})}"><img src="img/product1.jpg" th:src="${item.imageUrl}" alt="" class="img-fluid"></a>
                    <div class="text">
                        <h3><a th:href="@{/catalog/{itemId}(itemId=${item.id})}" th:text="${item.name}">Fur coat with very but very very long name</a></h3>
                        <p class="price">
                            <del></del>$<span th:text="${item.price}">143.00</span>
                        </p>
                    </div>
                    <!-- /.text-->
                    <div class="ribbon new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon-->
                </div>
                <!-- /.product-->
            </div>
            <!-- /.product-slider-->
        </div>
        <!-- /.container-->
    </div>
    <!-- /#hot-->
    <!-- *** HOT END ***-->
</div>
</body>
</html>