<div
  class="bg-white text-sm"
  th:fragment="card (product)"
  xmlns:th="http://www.thymeleaf.org"
>
  <a href="#" th:href="@{/catalog/{itemId}(itemId=${product.id})}"
    ><img
      src="https://via.placeholder.com/300"
      alt="Product 1"
      class="w-fit h-fit object-cover rounded-lg"
      th:src="@{/assets/img/products/{itemId}.jpg(itemId=${item.id})}"
  /></a>
  <div class="py-4 product-card">
    <h3
      class="text-gray-800 mb-2 text-base text-black hover:text-primary-500 cursor-pointer product-name"
      th:text="${product.name}"
    >
      <a href="#" th:href="@{/catalog/{itemId}(itemId=${product.id})}"
        >Wireless Headphones</a
      >
    </h3>
    <div class="flex items-center space-x-1">
      <div
        class="flex items-center mb-2"
        role="img"
        aria-label="2 out of 5 stars"
      >
        <i class="fas fa-star text-gray-300"></i>
        <i class="fas fa-star text-gray-300"></i>
        <i class="fas fa-star text-gray-300"></i>
        <i class="fas fa-star text-gray-300"></i>
        <i class="fas fa-star text-gray-300"></i>
      </div>
    </div>
    <p class="text-gray-600 mb-4 product-price">
      $<th:block th:text="${product.price}">143.00</th:block>
    </p>
    <form th:action="@{/cart}" method="POST">
      <input type="hidden" name="productId" th:value="${product.id}" />
      <button
        class="w-full bg-primary-500 text-white py-2 rounded-lg hover:bg-primary-700 transition duration-300 add-to-cart"
        href="#"
        onclick="this.closest('form').submit();return false;"
      >
        <i class="fas fa-square-plus"></i>
        <span th:text="#{button.addtocart}">Add to Cart</span>
      </button>
    </form>
  </div>
</div>
