name: Orders CI

on:
  push:
    branches:
    - main
    paths:
    - 'src/orders/**'
  pull_request:
    branches:
    - main
    paths:
    - 'src/orders/**'
    - 'images/**'
  workflow_dispatch:

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: corretto
        java-version: 17

    - name: Run CI script
      env:
        MAVEN_OPTS: "-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
      run: |
        src/orders/scripts/ci.sh

    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v2
      with:
        image: tonistiigi/binfmt:latest
        platforms: all

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@v2
        
    - name: Build container image
      run: |
        scripts/build-image.sh -s orders -t ci --actions-cache